.avatar {
  width: 50px;
  margin-right: 20px;
}

.example-header-image {
  background-image: url("../../assets/images/bot.png");
  background-size: cover;
}

.card-content {
  max-height: 450px;
  overflow-y: scroll;
}

mat-form-field {
  width: 100%;
}

.sendButton {
  margin: 5px auto;
}
