.avatar {
  width: 50px;
  margin-right: 20px;
}

.example-header-image {
  background-image: url("../../assets/images/bot.png");
  background-size: cover;
}

.card-content {
  max-height: 600px;
  overflow-y: scroll;
}

mat-form-field {
  width: 100%;
}

.actionButton {
  margin: 5px 5px;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {

  height: 5rem;
  margin: 1rem 0;

  img {
    height: 100%;
  }
}
