<img [src]="message.avatar" [ngStyle]="{'width': '50px'}">
<div>
  <!-- {{message.content}} -->
  <quill-editor
        class="no-margin"
        [ngModel]="message.content"
        [readOnly]="true"
        [sanitize]="true"
        [modules]="{toolbar: false}"></quill-editor>
</div>
<!-- <app-card></app-card> -->
<div class="message-image" *ngIf="message.imageSrc">
  <img
    [src]="message.imageSrc"
    [alt]="message.imageSrc"
    (click)="onImageClick(message.imageLink)">
</div>
<div>
  <i class="fa fa-clock-o" aria-hidden="true"></i>
  <span>at {{message.timestamp | date : 'dd/MM/yyyy HH:mm' }}</span>
</div>
